/* pagina de contacto */

.contactoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wppDiv {
    border: 1px solid gray;
    font-size: 1.4rem;
    background-color: green;
    padding: 2rem;
    margin: 2rem 3rem 2rem 3rem;
        a {
            text-decoration: none;
            color: white;
        }
}

.instaDiv {
    border: 1px solid gray;
    font-size: 1.4rem;
    background-color: rebeccapurple;
    padding: 2rem;
    margin: 2rem 3rem 2rem 3rem;
        a {
            text-decoration: none;
            color: white;
        }
}

.faceDiv {
    border: 1px solid gray;
    font-size: 1.4rem;
    background-color: blue;
    padding: 2rem;
    margin: 2rem 3rem 2rem 3rem;
        a {
            text-decoration: none;
            color: white;
        }
}

.subtitulo {
    color: violet;
}
